@media(max-width: 620px) {
    .en-tete {
        padding: 30px 0;
    }
}



.btn-fleche {
    width: 100px;
    height: 100px;
    padding: 30px;
    
}

.btn-fleche.btn.avancer {
    position: center;
}
.personagens-slider {
    padding: 15px 15px;
    gap: 100px;
    
}